/* Header */
.fixed-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 41px;
  z-index: 99;
}

.header .actions {
  margin-top: -3px;
  display: flex;
  align-items: center;
  gap: 52px;
}

.header .actions .menu {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header .actions .menu .menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  cursor: pointer;
  color: var(--secondary-color);
}

.header .actions .menu .menu-item:not(.active):hover {
  color: var(--active-color);
}

.header .actions .menu .menu-item.active {
  color: var(--active-color);
}

.header .actions .menu .menu-item .plus-icon {
  display: none;
}

.header .actions .menu .menu-item.active .plus-icon {
  display: block;
}

.header .contact-btn {
  padding: 14px 41px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2px;
  min-width: 158px;
}

.header .menu-icon {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 1024px) {
  .fixed-header {
    top: 15px;
  }
  .header {
    margin-top: 20px;
    height: 45px;
    padding: 0 20px;
  }
  .header .logo .brand-name {
    visibility: hidden;
  }
  .header .logo .logo-icon {
    width: 45px;
    height: 45px;
    font-size: 7px;
  }
  .header .logo .logo-icon > * {
    font-size: 7px;
  }
  .header .actions {
    display: none;
  }
  .header .menu-icon {
    display: block;
  }
}
@media screen and (max-width: 1280px) {
}
